.App {
  text-align: center;
}

.smurfs-container{
  border: 1px solid rgb(140, 149, 146);
  padding:1% 0;
  display: flex;
  flex-direction:column;
  align-items:center;
  background: #eef1d2;
}

.smurfs {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid rgb(140, 149, 146); */
  width:100%;
 
}
.smurf{
  width:25%;
  padding: 2.5%;
  margin: 1% 1.5%;
  border: 1px solid rgb(140, 149, 146);
  background:#e4dddd;
  border-radius: 5px;
}
button {
  padding: 1%;
  margin:1%;
  border-radius: 5px;
  background:#efefbb;
  font-size: 1.2rem
}
.add-btn{
background: #73b0b8;
}
.get-btn{
  background: #8b7da1;
}
/* input {
  background: #e9e9b8;
 
} */
input{
  background: #d2e7dd;
  font-size:1.2rem;
  border: 1px solid rgb(140, 149, 146);
}
 .completed {
  background: #898267;
}